//- footer.pug
div(class='footer-container')
   footer(class='social bg-secondary-1')
      div(class='container')
         div(class='row')
            div(class='col-sm-12 text-center')
               h1(class='text-white')= contact.title
               a(href='mailto:'+ contact.email)
                  i(class='icon icon_mail_alt')
                  strong= ' ' + contact.email
                  br
               if contact.mobile
                  div
                     i(class='icon icon_mobile')
                     =' '+ contact.mobile

               ul(class='social-icons')
                  each social in contact.social
                     li
                        a(href= social.src)
                           i(class='icon '+ social.icon)

- var js = ["/js/jquery.min.js","/js/jquery.plugin.min.js","/js/bootstrap.min.js","/js/jquery.flexslider-min.js","/js/smooth-scroll.min.js","/js/skrollr.min.js","/js/spectragram.min.js","/js/lightbox.min.js","/js/scrollReveal.min.js","/js/isotope.js","/js/scripts.js"]
each sources in js
   script(src= sources)


