mixin header()
   header(class='page-header resume-header')
      div(class='background-image-holder parallax-background')
         img(class="background-image" title="Background Image" src= resume.background)
      div(class='container')
         div(class='row')
            div(class='col-sm-12')
               h1(class='text-white space-bottom-medium')= resume.name
               span= resume.title
               ul(class='social-icons')
                  each social in contact.social
                     li
                        a(href= social.src target='_blank')
                           i(class='icon ' + social.icon)