//- navigation.pug
if menu
   div(class='nav-container')
      nav(class='top-bar overlay-bar')
         div(class='container')
            div(class='row nav-menu')
               div(class='col-sm-3 col-md-2 columns')
                  a(href='/')
                     p(class='logo logo-light') Ronny
                     p(class='logo logo-dark') Ronny
               div(class='col-sm-9 col-md-10 columns')
                  ul(class='menu')
                     each m in menu.list
                        li(class='has-dropdown')
                           a(href= m.link)= m.title   
                           ul(class='subnav')
                              each subnav in m.submenu.navigation
                                 li
                                    a(href= subnav.link)= subnav.title
                  ul(class='social-icons text-right')
                     each social in contact.social
                        li
                           a(href= social.src)
                              i(class='icon ' + social.icon)