//-project-container.pug
mixin project(filter, image, title, subtitle, url)
   div(class='col-md-4 col-sm-6  project '+ filter +' image-holder')
      div(class='background-image-holder')
         img(class='background-image' alt='Background Image' src= image height='390px' width='300px')
      div(class='hover-state')
         div(class='align-vertical')
            h3(class='text-white') 
               strong= title
               p= subtitle
            a(href= url class='btn btn-primary btn-white') En savoir plus