//- section.pug
mixin project(filter, image, title, subtitle, url)
   div(class='col-md-4 col-sm-6  project '+ filter +' image-holder')
      div(class='background-image-holder')
         img(class='background-image' alt='Background Image' src= image height='390px' width='300px')
      div(class='hover-state')
         div(class='align-vertical')
            h3(class='text-white') 
               strong= title
               p= subtitle
            a(class='btn btn-primary btn-white' href= url) En savoir plus

mixin section_image_left(inlineimage)
   section(class='inline-image-left')
      div(class='container')
         div(class='row')
            div(class='col-sm-6 text-center')
               img(class='product-image' style='max-width:500px; max-height:500px;' alt= inlineimage.image.alt  src= inlineimage.image.src )
            div(class='col-sm-6 align-vertical no-align-mobile')
               h1= inlineimage.title
               h6= inlineimage.subtitle
               p(class='lead').
                  !{inlineimage.text}

mixin section_image_right(inlineimage)
   section(class='inline-image-right')
      div(class='container')
         div(class='row')
            div(class='col-sm-6 align-vertical no-align-mobile')
               h1= inlineimage.title
               h6= inlineimage.subtitle
               p(class='lead').
                  !{inlineimage.text}
            div(class='col-sm-6 text-center')
               img(class='product-image' alt= inlineimage.image.alt src= inlineimage.image.src)

mixin section_inlineimage(inlineimage)
   each inline, i in section.inlineimage
      if i % 2 == 0
         +section_image_left(section.inlineimage[i])
      else
         +section_image_right(section.inlineimage[i])

mixin section_milestones(milestones)
   section(class='duplicatable-content milestones')
      div(class='container')
         div(class='row')
            div(class='col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center')
               h1= milestones.title
               p(class='lead')= milestones.text

         div(class='row')
            each milestone in milestones.list
               div(class='col-md-3 col-sm-6 text-center')
                  div(class='feature feature-icon-large')
                     i(class='icon ' + milestone.icon)
                     div(class='pin-body')
                     div(class='pin-head')
                     h5= milestone.title
                     span(class='sub')= milestone.text

                     span
                        each pic in milestone.pictures
                           img(src= pic.src height='64' title= pic.text)

mixin section_projects_gallery(projects)
   section(class='projects-gallery')
      div(class='container')
         div(class='row')
            div(class='col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center')
               h1= projects.title
               p(class='lead')= projects.text

      div(class='projects-wrapper clearfix')
         div(class='container')
            div(class='row')
               ul(class='filters')
                  li(data-filter='*' class='active') Tous
                  each filter in projects.filter
                     li(data-filter= '.'+filter)= filter

         div(class='container')
            div(class='projects-container column-projects')
               each project in projects.list
                  +project(project.filter,project.image,project.title,project.subtitle,project.url)

mixin section_skill(skill)
   section(class='skill-bars')
      div(class='container')
         div(class='row')
            div(class='col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center')
               h1= skill.title
               p(class='lead').
                  !{skill.description}
         div(class='row')
            div(class='col-md-6 col-sm-12')
               div(class='skills-left skills') 
                  h3= skill.left.title
                  ul(class='skills-ui')
                     each sk in skill.left.skills
                        li
                           span= sk.title
                           div(class='skill-bar-holder')
                              div(class='skill-capacity col-xs-' + sk.level)
            div(class='col-md-6 col-sm-12')
               div(class='skills-right skills') 
                  h3= skill.right.title
                  ul(class='skills-ui')
                     each sk in skill.right.skills
                        li
                           span= sk.title
                           div(class='skill-bar-holder')
                              div(class='skill-capacity col-xs-' + sk.level)

mixin section_feature_icon(features)
   section(class="duplicatable-content")
      div(class='container')
         div(class='row')
            div(class='col-md-12 text-center')
               h1= features.title
                  br
                  = features.description
         div(class='row')
            each feature in features.list
               div(class='col-sm-6')
                  div(class='feature feature-icon-large')
                     div(class='pull-left')
                        i(class='icon ' + feature.icon)
                     div(class='pull-right')
                        h5= feature.title
                        p= feature.text                            
                                                         