//- main.pug
doctype html
html(class="no-js")
   head
      title Fenu@pp
      block scripts
         each source in ['/css/flexslider.min.css','/css/line-icons.min.css','/css/elegant-icons.min.css','/css/lightbox.min.css','/css/bootstrap.min.css','/css/theme.css']
            link(rel='stylesheet' href= source type='text/css' media='all')

         each source in ['/js/modernizr-2.6.2-respond-1.1.0.min.js']
            script(src= source)
   body
      div(class='loader')
         div(class='spinner')
            div(class='double-bounce1')
            div(class='double-bounce2')

      block navigation
         include includes/navigation.pug
      block content
      block footer
         include includes/footer.pug