//- software.pug
extends /main.pug
include /includes/section

block content
   div(class='main-container')
      header(class='page-header resume-header')
         div(class='background-image-holder parallax-background')
            img(class="background-image" title="Background Image" src= background)
         div(class='container')
            div(class='row')
               div(class='col-sm-12 text-center')
                  span(class='text-white alt-font')= title
                  h1(class='text-white').
                     !{name}
                  p(class='lead text-white').
                     !{shortdescription}
      section(class='duplicatable-content')
         div(class='container')
            div(class='row')
               each column in columns
                  div(class='col-sm-4')
                     div(class='feature')
                        h5(class='text-center')= column.title
                        p(class='lead').
                           !{column.description}
      +section_skill(section.skill)
      if(section.inlineimage)
         +section_inlineimage(section.inlineimage)

